body {
	width: 100%;
}

header {
	text-align: center;
}

header .title {
	font-size: 32px;
}

header .nav {
	list-style-type: none;
}

header .nav li {
	display: inline;
	margin: 10%;
	font-size: 24px;
}